.msg{
    /*float: right;*/
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--main-bg-color-alt);
    color: var(--main-font-color-alt);
    margin: 20px;
    width: 66%;
    border-radius: 20px;
}

.msg small{
    font-size: 0.7em;
}

.msg-main {
    margin-left: 10px;
    max-width: 80%;
}

.msg-main pre {

    word-wrap: break-word;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    color: white;
}

.msg-leader{
    padding-right: 10px;
}

.msg-leader img{
    height: 66px;
    clip-path: circle();
}