

header {
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 2px grey;
    min-height: 66px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

header .navigation {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

header a {
    text-decoration: none;
    padding-right: 1em;
    color: var(--main-font-color);
}

header .nav-element{
    flex-direction: column;
}

header a:hover {
    color: var(--main-font-color-alt);
    opacity: 0.5;
}

header .nav-element:hover *,
header .nav-element:active *,
header .nav-element:focus *
{
    visibility: visible;
}

header h5 {
    color: var(--main-font-color);
}

header .nav-element div {
    background-color: var(--main-bg-color);
    position: absolute;
    visibility: hidden;
    min-height: fit-content;
    min-height: -moz-fit-content;
    box-shadow: 0px 1px 2px grey;
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .nav-element button {
    width: 100%;
    margin-top: 5px;
}

#account-login-register {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#account-login-register form{
    display: inherit;
    flex-direction: column;
    
}

#account-settings {
    display: none;
    flex-direction: column;
    align-items: center;
}

#login-fenster{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#register-fenster{
    display: none;
    flex-direction: column;
    align-items: center;
}
#account-settings-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px){
    header .nav-element div {
        left: -125px;
        margin: 0px 50%;
        width: 150px;
        z-index: 1000;
        padding-left: 50px;
        padding-right: 50px;
        zoom: 1;
    }
    #room-information{
        flex-direction: column;
        display: flex;
    }
}

#room {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 600px){
    header .nav-element div {
        left: -150px;
        margin: 0px 50%;
        width: 200px;
        z-index: 1000;
        padding-left: 50px;
        padding-right: 50px;
        zoom: 1.5;
    }
    #room-information{
        flex-direction: column;
        display: flex;
    }
}

@media (min-width: 600px){
    header .nav-element div {
        transform: translateX(-39%);
    }
    #room-information{
        flex-direction: column;
        display: flex;
    }
}

@media (min-width: 900px){
    #room-information{
        flex-direction: row;
        display: flex;
    }
    
}

@media (min-width: 1100px){
    header .nav-element div {
        transform: translateX(-10%);
    }
}